<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./Estilos.css">
</head>
<body>
    <!--Contenedor Padre-->
    <div class="contenedor__todo">

       <!--Caja trasera-->
      <div class="caja__trasera">
        
        <div class="caja__trasera-login">
            <h3>Ya tenes una cuenta?</h3>
            <p>Inicia sesiento para entrar a la pagina</p>
            <button class="button__inisiar-sesion" id="button__inisiar-sesion">Inisciar sesion</button>
        </div>
 

    <div class="caja__trasera-register">
        <h3>Aun no tiene una cuenta?</h3>
        <p>Registrate para que puedas iniciar sesion</p>
        <button class="button__registrarse" id="button__registrarse">Registrarse</button>
    </div>

   </div>

        <!--Fomulario de Login y Registro-->
    <div class="contenedor__login-register">

          <!--Login-->
          <div class="formulario__login" id="formulario__login">
        <form action="" >
            <h2>Iniciar Sesion</h2>
            <input type="text" placeholder="Correo Electronico">
            <input type="password" placeholder="Contraseña">
            <button >Enviar</button>
        </form>
    </div>

           <!--Register-->
           <div class="formulario__register" id="formulario__register">
        <form action="" >
            <h2>Registrarse</h2>
            <input type="text" placeholder="Nombre Completo">
            <input type="text" placeholder="Correo Electronico">
            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="Contraseña">
            <button id="button_register">Registrarse</button>
        </form>
    </div>

    </div>


</div>
<script src="./main-1.js"></script>
</body>
</html>